/*
		CSS  Windows - RichBlocksSDK 
		Jaydson Gomes 
		Styles das Janelas 
*/


/*     WINDOW    */

.window	{

		position   : absolute;
		border     : 2px outset #eeeeee;
		background : #D4D0C8;
		z-index    : 10000;
}
.title {
	
		position      : relative;
		height   	  : 30px;
		top       	  : 2px;
		padding 	  : 5px;
		margin-bottom : 12px;
		
}
.bar {
		width      : 100%;
		height     : 22px;
		cursor 	   : default;
		background : #33508D;	 
						
}
.button{
	
}

.bar_buttons {

		width 		   : 200px;
		vertical-align : top;
		cursor 		   : default;
}
.bar_title{

		color         : white;
		font-weight   : bold;
		font-size     : 11px;
		font-family   : Verdana,Geneva,sans-serif;
		padding 	  : 4px;
}

.content {
		
		margin-top  : 1px;
		margin-left : 2px;
		border 		: 2px inset #D4D0C8;
		background  : #ffffff;
		overflow    : auto;
		width : 100%;
		height : 100%;
}
.footer {
		
		font-family : Tahoma;
		font-size   : 11px;
		margin-left : 8px;
}